.booked{
  background: #4f6dffb8;
}

.free{
}

.sunday{
  background:#676767;
}

.grey{
  opacity: 0.2;
}

.cell{
  width:calc(100%/7);
  padding:3px;
  padding-bottom: calc(100%/7 - 3px);
  height:0;
  border:1px solid #67676738;
}
.loadingCell{
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: calc(50% - 15px);
}

.date{
  margin: 0;
  font-size: 20px;
  font-weight: 200;
}
.mobileDate{
  margin: 0;
  display:none;
  font-size: 20px;
}

@media (max-width:500px) {
  .cell{
    width: 100%;
  }

  .date{
    display: none;
  }

  .mobileDate{
    display: block;
  }
  .grey{
    display:none;
  }

  .loadingCell{
    margin-top: 0px;
  }

}
